
<h1 style="font-size: 30px; font-family: Anton, sans-serif; color: #64A300" ><%=@campaign.titulo %></h1>
<% if flash[:notice] %>
  <div style="background: yellow">
    <%= flash[:notice] %>
  </div>
<% end %>

<div style= "float: right; padding-right: 200px" >
  <%= image_tag @campaign.image, style: "heigth: 400px; width: 400px; padding-bottom: 10px" %>


  <div class="progress" style="width: 400px;">
    <div class="progress-bar" role="progressbar" aria-valuenow= "<%=porciento_completado(@campaign) * 100 %>"
    aria-valuemin="0" aria-valuemax="100" style="width: <%=porciento_completado(@campaign) * 100 %>%">
      <%= porciento_completado(@campaign) * 100 %>% Completado
    </div>


  </div>

  <div style= "font-family: Roboto Condensed, sans-serif; font-size: 20px; border-radius: 25px; border: solid black 2px; ">
    <p>
      <%=@user.name %>
    </p>
    <p>
      <%=@user.ciudad %>, <%=@user.pais %>
    </p>
    <p>
      <%= mail_to @user.email, "Enviar correo" %>
    </p>
  </div>
</div>

<ul class="list-group" style= "font-family: Fjalla One, sans-serif; font-size: 25px">
	<li>
		Description:
		<light style= "font-family: Roboto Condensed, sans-serif"><%= @campaign.description %></light>
	</li>
  <li>
    Meta:
    <light style= "font-family: Roboto Condensed, sans-serif"><%= @campaign.meta %></light>
  </li>
  <li>
    Category:
    <light style= "font-family: Roboto Condensed, sans-serif"><%= link_to @campaign.category, category_path(@campaign.category) %></light>
  </li>
  <li>
    Cantidad de Likes:
    <light style= "font-family: Roboto Condensed, sans-serif"><%= @campaign.cant_like %></light>
  </li>
  <li>
    Fecha culminacion:
    <light style= "font-family: Roboto Condensed, sans-serif"><%= format_date(@campaign.finalizado_en) %></light>
  </li>
  <li>
    Fecha creacion:
    <light style= "font-family: Roboto Condensed, sans-serif"><%= format_date(@campaign.created_at)  %></light>
  </li>
</ul>

<p style= "font-family: Fjalla One, sans-serif; font-size: 25px">
  Comentarios
</p>

<% if @campaign.comments.any? %>
<table class="table table-hover" style="width:500px">
	<thead>
		<tr>
			<th>Autor</th>
			<th>Mensaje</th>
			<th>Fecha Creacion</th>
      <th>

      </th>
		</tr>
	</thead>
	<tbody>
			<%- @campaign.comments.each do |f| %>
				<tr>
					<td><%= f.autor %></td>
					<td><%= f.mensaje %></td>
					<td><%= format_date(f.created_at)  %></td>
          <% if current_user %>
              <% if current_user == User.find_by(name: f.autor) %>
					       <td><%= link_to "Borrar", campaign_comment_path(f.campaign, f), method: :delete, data: {confirm: "Estas Seguro?"} %></td>
              <% end %>
          <% end %>
				</tr>
			<%- end %>
	</tbody>
</table>
<% else %>
  <p><em>No hay donations.</em></p>
<% end %>

<%= render partial: "campaign_donations", locals: {donations: @campaign.donations.order("created_at DESC")} %>

<p style="display: inline-block"> <%= link_to "New Donation", new_campaign_donation_path(@campaign.id), class:"btn btn-default btn-lg" %> </p>

<p style="display: inline-block"> <%= link_to "New Comment", new_campaign_comment_path(@campaign.id), class:"btn btn-default btn-lg" %> </p>

<% if current_user %>
  <% if current_user.id == @campaign.user_id %>
    <p style="display: inline-block"> <%= link_to "Edit", edit_campaign_path, class:"btn btn-default btn-lg" %> </p>
  <% end %>
<% end %>
